//colour variables
$green: #67a943;
$darkgrey: #333333;
$bgcolor: #f9f9f2;

//typography variables
$headingcolor: #67a943;
$headingsize:72px;

//default text colour
$default-text-color: $darkgrey !default;