@import'../utilities/variables';

//TOP NAVIGATION 


.topnav {
    background-color: $green;
    overflow: hidden;
}


.topnav a {
    font-family:abel,sans-serif ;
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom:10px;
    width:20%;
}


.topnav a:hover {
    background-color: $darkgrey;
    color: white;
}


.topnav .icon {
    display: none;
}
